@font-face {
    font-family: Comforter;
    src: url(../webfonts/Comforter-Regular.ttf);
}
body {
    background-image: linear-gradient(to right, #f9b9f2, #83a0a0);
    font-family: Helvetica, Arial, sans-serif;
}

#container {
    width: 600px;
    min-height: 300px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    border-radius: 15px;
}

.button {
    border: 0 hidden;
}

.input-group .button {
    margin-left: 5px;
    border-radius: 50%;
    padding: 7px 15px;
}

.input-group select {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
    border-color: #ced4da;
    border-left: 0 none;
}

.grey {
    background-color: #4c5f6b;
    color: white;
}

.red-outline {
    color: #ee4040;
    background-color: #fff;
}

.custom-select {
    margin: 0;
}
h1 {
    font-family: "Fredoka One";
    font-size: 90px;
    color: #4c5f6b;
}

.text-position {
    text-align: left;
    padding: 0 5px;
    overflow-wrap: break-word;
}

.task {
    border-left: 3px solid transparent;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(58, 58, 58, 0.1);
    position: relative;
    overflow: hidden;
    margin: 0 0 10px;
}

.task.Shopping {
    border-color: yellow;
}

.task.Sport {
    border-color: orange;
}

.task.Cleaning {
    border-color: blue;
}

.task.Free {
    border-color: rgb(5, 238, 5);
}

.task-date {
    margin-left: 20px;
    font-size: 20px;
    color: darkblue;
    font-size: 12px;
}

.task-done {
    text-decoration: line-through crimson;
}

.task-text {
    margin-left: 10px;
    font-size: 20px;
}

.trash {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    height: 100%;
    padding: 18px 15px;
    transition: all ease .3s;
}

.task:hover .button{
    transform: translateX(0);
}
.unconfirmed {
    color: lightgrey;
}

.unconfirmed .task-date {
    color: lightgrey;
}

.error,
.error .task-date {
    color: red;
}